* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
  }

  header {
    margin: 30px;
    border: solid black 1px;
    text-align: center;
  }

  .quiz {
    display: flex;
    text-align: center;
    margin: 30px;
    background-color: gray;
    border-radius: 5px;
  }

  .inner-quiz-box {
    background-color: blue;
    margin: 10px;
    border-radius: 5px;
  }