* {
    box-sizing: border-box;
  }

  body {
    /* margin: 0; */
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
  }

  header {
    margin: 10px;
    /* border: solid black 1px; */
    text-align: center;
  }

  .quiz {
    display: flex;
    text-align: center;
    background-color: gray;
    border-radius: 5px;
    flex-direction: column;
    padding: 5px;
  }

  main {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    /* border: solid grey 1px; */
    justify-content: center;
  }

  #quiz-logo {
    display: none;
  }

  .inner-quiz-box {
    background-color: lightgrey;
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
  }

  .image-container {
    display: flex;
    /* border: solid black 1px; */
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin: 0; */
    list-style-type: none;
    padding-left: 0;
    height: 30px;
    align-items: center;
  }

  i {
    /* border: solid green 1px; */
    /* background-color: greenyellow; */
    font-size: 35px;
    padding: 0;
    margin: 0;
    /* font-weight: 400px; */
  }

  @media screen and (min-width: 600px) {
    .quiz {
      margin-left: 5px;
      max-width: 550px;
      min-width: 550px;
      max-height: 325px;
      min-height: 325px;
    }

    .inner-quiz-box {
      max-width: 525px;
      min-width: 525px;
      max-height: 245px;
      min-height: 245px;
    }

    #quiz-logo {
      display: unset;
    }

    i {
      font-size: 45px;
    }

    main {
      margin-top: 15px;
      display: flex;
      align-items: center;
    }
  }

  @media screen and (min-width: 1000px) {
    main {
      display: flex;
    }
  }