* {
    box-sizing: border-box;
  }

  body {
    /* margin: 0; */
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
  }

  header {
    margin: 10px;
    border: solid black 1px;
    text-align: center;
  }

  .quiz {
    display: flex;
    text-align: center;
    background-color: gray;
    border-radius: 5px;
  }

  main {
    margin-left: 10px;
    margin-right: 10px;
  }

  #quiz-logo {
    display: none;
  }

  .inner-quiz-box {
    background-color: blue;
    margin: 10px;
    border-radius: 5px;
  }

  .image-container {
    display: flex;
    border: solid black 1px;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin: 0; */
  }

  .score-keeper {
    margin-left: 10px;
    margin-right: 10px;
  }

  @media screen and (min-width: 600px) {
    .quiz {
      margin-left: 5px;
    }

    #quiz-logo {
      display: unset;
    }

    main {
      margin-top: 15px;
      display: flex;
      align-items: center;
    }
  }

  @media screen and (min-width: 1000px) {
    main {
      display: flex;
    }
  }